.App {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-block: 4rem;
  background-color: rgb(216, 216, 226);
}

:root {
  --primary: #6877ca;
  --ocean: #4255bd;
  --light: #ffffff;
  --dark: #000000;
  --lightDark: #333333;
  --shadow: #808080;
  --dim: #999999;
}
